{
  "extends": [
    // "next/core-web-vitals"
    "plugin:@shopify/typescript",
    "plugin:@shopify/react",
    "plugin:@shopify/prettier"
  ],
  "rules": {
    "react/react-in-jsx-scope": "off",
    "@shopify/jsx-no-hardcoded-content": "off",
    "no-console": "off"
  }
}